Pillow  # keep the PIL.Image.Resampling deprecation away
accelerate>=0.11.0
compel==0.1.8
datasets
filelock
flax>=0.4.1
hf-doc-builder>=0.3.0
huggingface-hub>=0.19.4
requests-mock==1.10.0
importlib_metadata
invisible-watermark>=0.2.0
isort>=5.5.4
jax>=0.4.1
jaxlib>=0.4.1
Jinja2
k-diffusion>=0.0.12
torchsde
note_seq
librosa
numpy
omegaconf
parameterized
peft>=0.6.0
protobuf>=3.20.3,<4
pytest
pytest-timeout
pytest-xdist
ruff>=0.1.5,<=0.2
safetensors>=0.3.1
sentencepiece>=0.1.91,!=0.1.92
scipy
onnx
regex!=2019.12.17
requests
tensorboard
torch>=1.4
torchvision
transformers>=4.25.1
urllib3<=2.0.0
